{% extends "layout.html" %}
{% block title %} MS | Profile {% endblock %}
{% block content %}
<body>

  <div class="card row col-3 center" style="margin-top: 2%;">

  <div class="column">
  <img src="{{profilepicture}}" alt="profilový obrázek" width="15%" class="center rounded-image">
  <form method="POST" class="column">
    <div class="row row-center">
      <input placeholder="Jméno" type="text" id="name" name="name" class="form-text col-1 mobile-row mobile-row-center" value="{{name}}">
      <input placeholder="Tůj mail (jan.novak@email.cz)" type="email" id="mail" name="mail" class="form-text col-1 mobile-row mobile-row-cente" value="{{email}}">
    </div>
    <div class="row">
      <textarea placeholder="Řekni nám o sobě něco..." id="description"  name="description" class="col-1 center mobile-row textbox" style="margin-top: 2%;" rows="10" cols="30">{{description}}</textarea>
    </form>

  </div>
  </div>
  <!--container->row, row->column-->



  </div>
</body>
{% endblock content %}