{% extends "layout.html" %}
{% block title %} MS | Tutorial {% endblock %}
{% block content %}
<body>
  <div class="container-3">
    <div class="card">
      <h4 class="row row-space"><a href="https://materialshare.tenmajkl.repl.co/material/{{materialName}}">{{materialName}} Dummy Material</a><div>od <a href="https://materialshare.tenmajkl.repl.co/profile/{{author}}">{{author}} Dummy Author</a></div></h4>
      <p class="max-text">{{materialContent}} Dummy Content looooooooooooooo ooooooooooooooooool gbsedhfhawsdjhchwuk</p>
      <p class="text-right">{{date}} Dummy Date</p>
    </div>
  </div>
  
</body>
{% endblock content %}