{% extends "layout.html" %}
{% block title %} MS | Materials {% endblock %}
{% block content %}
<body>
  <div class="row row-space">
    <form method="POST">
      <input type="text" id="search" name="searchbar" class="form-text col-1 m-col-3 search" placeholder="Hledat">

    </form>
	{% if profilepicture != "" %}
		{% if profilepicture != None %}
    	<img src="{{profilepicture}}" alt="Profilový obrázek" class="rounded-image" width="5%">
		{% else %}
			<img src="https://cdn.discordapp.com/attachments/720626679906566175/811221989120933938/unknow.png" alt="Profilový obrázek" class="rounded-image" width="5%">
		{% endif %}
		
	
	{% else %}
	<a href="/login">Přihlásit se</a>
	{% endif %}
    </div>
    


    <div class="card col-3 text-left" style="margin-top: 2%;">
      <h2>Pracuji na tom</h2>
      <p>Databázové modely pro materiály nejsou dokončené.
	  </p>
    </div>
</body>
{% endblock content %}


<!--Ondřej Pazourek -->