{% extends "layout.html" %}
{% block title %} MS | 404 {% endblock %}
{% block content %}
  <body class="bg-img">
    <img class="center" src="{{url_for('static', filename='errorlogo.svg')}}" alt="" width=50%>

    <div class="text-center">
      <h1>404</h1>
      <h2>Page or file not found!</h2>
      <p>Stránka <a href="{{page}}"> {{page}}</a> nebyla nalezena. Zkontrolujte zda jste adresu zadali správně.</p>
      <button class="form-text" onclick="document.location='https://materialshare.tenmajkl.repl.co/game'">Top Secret</button>
    </div>
    </body>
{% endblock content %}

<!-- Kryštof Malina -->