{% extends "layout.html" %}
{% block title %} MS | 502 {% endblock %}
{% block content %}
  <body class="bg-img">
    <img class="center" src="{{url_for('static', filename='errorlogo.svg')}}" alt="" width=50%>

    <div class="text-center">
      <h1>502</h1>
      <h2>Bad request</h2>
      <p>Stránka <a href="{{page}}"> {{page}}</a> je momentálně nedostupná, chyba je na naší straně z důvodu přetížení serveru. Prosím vyčkejte pracuje se na opravě chyby</p>
      <button class="form-text" onclick="document.location='https://materialshare.tenmajkl.repl.co/game'">Top Secret</button>
    </div>
    </body>
{% endblock content %}


<!-- Ondřej pazourek -->