<!DOCTYPE html>
<html lang="cs">
  <head>
    <link rel="shortcut icon" href="{{url_for('static', filename='materialbg.svg')}}" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link rel="stylesheet" type='text/css' href="https://materialshare.tenmajkl.repl.co/static/style.css">
  </head>
  <body class="bg-img">
    <img class="center" src="{{url_for('static', filename='errorlogo.svg')}}" alt="" width=50%>

    <div class="text-center">
      <h1>405</h1>
      <h2>Method Not Allowed!</h2>
      <p>Metoda pro stránku <a href="{{page}}"> {{page}}</a> není povolena, chyba byla automaticky zaznamenána a jsme připraveni ji opravit.</p>
      <button class="form-text" onclick="document.location='https://materialshare.tenmajkl.repl.co/game'">Top Secret</button>
    </div>

  </body>
</html>