{% extends "layout.html" %}
{% block title %} MS | Credits {% endblock %}
{% block content %}
<body>
  <div>
  <h1 style="margin-left: 2%; margin-bottom: -2%">Kdo co dělal:</h1>
  <div class="container-2">
  <div class="card">
    <h3>Majkl</h3>
    <ul>
      <li><a href="https://materialshare.tenmajkl.repl.co/">Home</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/tutorial">Tutorial</a></li>      
      <li><a href="https://materialshare.tenmajkl.repl.co/static/style.css">Styly</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/art">Art</a></li>
      <li>Backend v pythonu + mySQL</li>
      <li>Cookies</li>
    </ul>
  </div>

  <div class="card">
    <h3>Petr</h3>
    <ul>
      <li><a href="https://materialshare.tenmajkl.repl.co/game">Hra na error stránkách</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/register">Register</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/login">Login</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/profile/edit">Profile</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/forgotten-password">Zapomenuté heslo</a></li>
    </ul>
  </div>

  <div class="card">
    <h3>Ondra</h3>
    <ul>
      <li><a href="https://materialshare.tenmajkl.repl.co/405">405</a> a <a href="https://materialshare.tenmajkl.repl.co/502">502</a> error stránky</li>
      <li><a href="https://materialshare.tenmajkl.repl.co/materials">Stránka na vyhledávání materiálů</a></li>
    </ul>
  </div>

  <div class="card">
    <h3>Kikin</h3>
    <ul>
      <li><a href="https://materialshare.tenmajkl.repl.co/404">404</a> a <a href="https://materialshare.tenmajkl.repl.co/500">500</a> error stránky</li>
      <li></li>
    </ul>
  </div>

  <div class="card">
    <h3>Kuba</h3>
    <ul>
      <li><a href="https://materialshare.tenmajkl.repl.co/pridat">Stránka na přidání nového materiálu</a></li>
      <li><a href="https://materialshare.tenmajkl.repl.co/upravit">Stránka na upravení materiálu</a></li>
    </ul>
  </div>
  </div>
  </div>
</body>
{% endblock content %}

<!-- Petr Prudil -->