{% extends "layout.html" %}

{% block extern_style %}
<link rel="stylesheet" href="{{url_for('static', filename='gamestyle.css')}}">
{% endblock extern_style %}

{% block title %} MS | Game {% endblock %}
{% block content %}
<body onkeydown="keyPressed(event)" class="bg-img">
  <div class="card text-center center" style="width: 30%; margin-top: 2%; margin-bottom: -2%">
    <p id="score"></p>
    <p id="topscore"></p>
    <p id="log"></p>
  </div>

  <div class="container-3">

    <div id="leftSide"></div>
    <!-- onmousedown="left()" onmouseup="mouseUp()"-->

      <div id="game" onclick="pause()">
        <div id="block"></div>
        <div id="hole"></div>
        <div id="character"><img class="rounded-image" style="height: 100%; width: 100%;" src="{{photo}}" alt="tomík"></div>
      </div>

    <div id="rightSide"></div>
    <!-- onmousedown="right()" onmouseup="mouseUp()"-->

  </div>



  <p class="text-center" id="state">Klikni na okno nebo zmáčkni mezerník pro spuštění hry. Ovládání Šipkami nebo klávesami A a D</p>

  <button class="center" style="margin-top: 2%" onclick="document.location='https://materialshare.tenmajkl.repl.co/'">Až tě to přestane bavit tak klikni sem :)</button>


<script src="{{url_for('static', filename='gamelogic.js')}}"></script>
{% endblock content %}

<!-- Petr Prudil -->