{% extends "layout.html" %}
{% block title %} MS | Home {% endblock %}

{% block content %}

<body class="bg-img" onload="check_cookies()">
<img src="{{url_for('static', filename='sharelogo.svg')}}" alt="Logo" width="35%" class="center">
<div class="text-center">MaterialShare</div>

<form method="POST" class="row mobile-row row-center">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <input type="text" class="form-text col-2 m-col-2 search" name="search-term">
  <input type="image" src="{{url_for('static', filename='lupa.svg')}}" alt="Lupa" class="search-button">

  </form>


  <img src="{{url_for('static', filename='plus.svg')}}" alt="Add Material" class="add-material">

  <div class="cookie row" id="cookie"></div>


<script src="{{url_for('static', filename='cookies.js')}}"></script>

</body>
    {% endblock content %}

