{% extends "layout.html" %}
{% block title %} MS | Database {% endblock %}
{% block content %}
  <form method="POST">
    <div class="row row-center">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="text" class="form-text col-2" style="margin-right: 2%" name="Command" id="Command">
      <input type="submit">
    </div>
  </form>
  <pre class="code terminal">
    <table class="row row-center">

    {% for column in table %}
      <tr>
      {% for item in column%}
      <td>{{ item }}</td>
      {% endfor %}
      </tr>

      {% endfor %}

    </table>
    </pre>
{% endblock content %}

<!--Petr Prudil-->