{% extends "layout.html" %}
{% block title %} MS | Tutorial {% endblock %}

{% block content %}
<body>

  <h1>CSS DOCUMENTATION</h1>
  <h2>Col-system</h2>
  <p>Col systém je skupina tříd, které drží šířky využívané na webu, dělí se na 3 základní:</p>
  <ul>
    <li>col-1; přes 3/3 stránky</li>
    <li>col-2; přes 2/3 stránky</li>
    <li>col-3; přes 1/3 stránky</li>
    <li>col-half; přes 1/2 stránky</li>
    <li>col-quarter; přes 1/4 stránky</li>
  </ul>
  <img src="{{url_for('static', filename='col.png')}}" alt="Col Příklad" class="col-3">
  <p>V žádném případě nepoužívejte konstatní šířky a už vůbec ne v px!</p>

  <h2>Column, row</h2>
  <p>Row je třída, ve které jsou na PC všechny objekty vedle sebe, zatímco na mobilu jsou pod sebou. Pokud ale chceme objekty pod sebe i na pc, použijeme třídu <strong>column</strong>. </p>

  <h3>Mobile-row</h3>
  <p>Občas se stane, že na mobilu potřebujete věci vedle sebe, od toho je tu třída mobile-row, v ní jsou věci vedle sebe i na mobilu. v mobile-row kromě col- používáme i m-col- tam dáváme stejnou hodnotu jako u col-</p>

  <h3>row-</h3>
  <p>Pro row existují tagy row-center a row-space, center vycentruje a space dá objekty co nejdál od sebe. Platí pro row a mobile row.</p>

  <img src="{{url_for('static', filename='row.png')}}" alt="Row Příklad" class="col-2">

  <h2>Text</h2>
  <p>Na webu se používá font Poppins. Pro text se používají tyto třídy:</p>
  <ul>
    <li>text-center; Text veprostřed</li>
    <li>text-right; Text vpravo</li>
    <li>text-left; Text vlevo</li>
  </ul>


  <h2>Formuláře</h2>
  <p>Pokud chcete používat formulář, dejte na input třídu form-text, tak bude ve stylu formulářů</p>

  <h2>Karty</h2>
  <p>Pokud chceme použít pozadí pro specifickou oblast, použijeme třídu card, šířka se nastavuje přes col- a výška ručně přes <strong>%</strong></p>

  <h2>Dodatky</h2>
  <ul>
    <li>roudned-image; Zakulatí obrázek</li>
  </ul>

  <h2>Grid</h2>
  <p>Grid systém, se používá, pokud chceme určitý počet věcí vedle sebe a pokud jich máme víc, tak pod sebe. Jediné co stačí, tak je dát třídu container na div, kde máme itemy a pro lepší vizi na mobilu dát na každý item m-cod-item:</p>
  <ul>
    <li>container-2; řadí po 2 vedle sebe</li>
    <li>container-3; řadí po 3 vedle sebe</li>
    <li>container-4; řadí po 4 vedle sebe</li>
  </ul>

  <img src="{{url_for('static', filename='grid.png')}}" alt="Grid Příklad" class="col-3">


  <h1>Flask</h1>
  <h2>Úvod do Flasku</h2>
  <p>Flask je webový mikroframework pro python, na webu se používá pro backend a zde jsou informace co dělat jak dělat.</p>

  <h2>Routování</h2>
  <p>Pokud chceme udělat novou stránku používáme routování, to je způsob vytváření cest v adrese; Zde příklad jak vytvářet stránky pro testování</p>

  <code>
  @app.route("/name")<br>
  def name():<br>
    <ul>return render_template("jmeno_html_souboru")</ul><br>

   </code>

  <h2>Blueprinty</h2>
  <p>Blueprint je soubor, který obshuje routy, bluepritny používáme proto, aby byl kod roztříděný.</p>

  <h2>Proměnné, ify, cykly,...</h2>

  <p>Flask nám umožnujě dynamické webové stránky, proto můžeme do html teplatů vkládat netradiční věci</p>

  <h3>Proměnné</h3>
  <p>Proměnné vkládáme pomocí <code>{ {jmeno} }</code></p>

  <h3>Cykly</h3>
  <p>Pokud chceme něco cyklit (materiál), použijeme cyklus: <code>{ % for % } { % endfor % }</code></p>

  <h3>If</h3>
  <p>Pokud chceme použít if, máme tyto syntaxe: <code>{ % if % } { % else % } { % elif % } { % endif % }</code></p>


  <p>Nepoužíváme mezery mezi {}</p>


  <h2>Formuláře</h2>

  <p>Formuláře fungují stejně, akorát na začátek dáme vždy toto:</p>

  <code>&ltinput type="hidden" name="csrf_token" value="{ { csrf_token() } }"/&tg</code>
  <p>Opět mezi {} nepoužíváme mezery.</p>

  <p>Jedná se o ochranu proti CSRF útokům.</p>

  <h2>extends, block</h2>
  <p>Pro usnandnění práce máme v templatech tyto 2 tagy: extends a block, zde layout pro používání:</p>
  <pre class="code terminal">
<code>{ % extends "layout.html" % }</code>
<code>{ % block title % } MS | Název stránky { % endblock % }</code>
<code>{ % block content % }</code>
<code>&lt;body&gt;</code>
<code>Zde kontent</code>
<code>Extends a block pochopitelně nemá mezeru mezi { a %</code>
<code>&lt;/body&gt;</code>
<code>{ % endblock content % }</code>
      </pre>
</body>
{% endblock content %}

