{% extends "layout.html" %}
{% block title %} MS | {{ action_name }} material {% endblock %}
{% block content %}


<body class="bg-img" onload="check_cookies()">
	<h1 style="margin-left: 2%">{{ action_name }} materiál</h1>
	<form method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input style="margin-left: 2%" type="text" class="form-text" value="{{ title }}">
		<textarea style="margin-left: 2%" class="textbox col-1" rows="15">

        {{ content }}

    </textarea>

    <button class="col center">Uložit</button>
    
  </form>

</body>


<!-- Micka Jakub -->
{% endblock content %}