{% extends "layout.html" %}
{% block title %} MS | Login {% endblock %}
{% block content %}
<body class="bg-img">
  <img src="{{url_for('static', filename='sharelogo.svg')}}" alt="Logo" width="15%" class="center">
  <div class="card center col-3" style="margin-top: 5%;">
  <div class="text-center" style="margin-bottom:2%"><h3>MaterialShare Přihlášení</h3></div>
  <form method="POST" class="text-center">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <label for="name" class="column">Jméno:</label>
    <input type="text" id="name" name="name" class="form-text col-2">
    <label for="password" class="column">Heslo:</label>
    <input type="password" id="password" name="Password" class="form-text col-2">
    <button type="submit" name="submit" class="row center" style="margin-top: 2%;">Přihlásit se</button>
  </form>
  <div class="text-center" style="margin-top:5%">
    Nemáš účet? <a href="https://materialshare.tenmajkl.repl.co/register">Zaregistruj se</a>
    <br>
    <a href="https://materialshare.tenmajkl.repl.co/forgotten-password">Zapomenuté heslo</a>
     </div>
     </div>
</body>
{% endblock content %}